.form {
  width: 80%;
  margin: 60px auto;
  display: flex;

}

.form-img {
  background-image: url("https://images.unsplash.com/photo-1579702493440-8b1b56d47e03?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80");
  width: 100%
}
